vehicle-fleet-xsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="cd">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Car-Name" type="xs:string" />
              <xs:element name="Car-Make" type="xs:string" />
              <xs:element name="Car-Type" type="xs:string" />
              <xs:element name="Gear-Type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>